/* .border{
    border:1px solid rgb(150, 150, 150);
} */
.row{
    display:flex;
    justify-content:center;
    align-items:center;
}
.rowsb{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.column{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.scale{
    transition: all;
    transform: scale(0.9);
}





*{
    font-family: sans-serif;
}
.cover{
    height:100vh;
    width:100%;
}
header{
    height:91px;
    width:100%;
}
.logo{
    width:180px;
    height:100%;
}
.sgn{
    height:100%;
    width:auto;
    margin-right:10px;
    font-weight: 600;
}
main{
    width:100%;
    height:70%;
}
footer{
    width:100%;
    height:192px;
    background-color: #F3F3F3;
}
.mainc{
    width:340px;
    height:500px;
    padding-top:100px;
    box-sizing: border-box;
}
.d-1{
    height:50px;
    width:50px;
    border-radius:100%;
    border-color: red;
    color:red;
}
.d-3{
    width:80%;
    height:72.6px;
}
.collect{
    width:90%;
    height:auto;
    
}
.d-4,.d-5,.d-6{
    height:46.4px;
    width:100%;
}
.mainc button{
    height:65px;
    width:100%;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content:left;
    width:100%;
    height:auto;
    /* background-color:black; */
    
}
.futb1{
    width:auto;
    height:10%;
    margin:72px 367px;
}
.fd1{
    height:auto;
    display:flex;
    align-items: center;
}
.fd2{
    height:auto;
    width:100%;
    color:black;
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-bottom:5%;
}
.last_button{
    display:flex;
    justify-content: center;
}
.fd2 a
{
    width:auto;
    color:black;
}